---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Experience from "../sections/Experience.astro";
import "../assets/styles/global.css";
---

<Layout title="Manuel Alonso">
  <main class="text-white contenedor">
    <Header />
    <Experience />
  </main>
</Layout>
