---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---

<Layout title="Manuel Alonso">
	<main class="text-white">

	</main>
</Layout>

<style>

</style>
